HOLA MUNDO 
<!--
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Form Control</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
                <div class="mb-3">
                    <label cLabel for="ci">CI</label>
                    <input cFormControl
                           id="ci"
                           placeholder="8756672"
                           [(ngModel)]="docenteModelo.id"
                           name="ci"
                           type="number"
                    />
                  </div>
              <div class="mb-3">
                <label cLabel for="nombres">Nombres</label>
                <input cFormControl
                       id="nombres"
                       placeholder="Kevin"
                       [(ngModel)]="docenteModelo.nombres"
                       name="nombres"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="apellidos">Apellidos</label>
                <input cFormControl
                       id="apellidos"
                       placeholder="Camacho Rodriguez"
                       [(ngModel)]="docenteModelo.apellidos"
                       name="apellidos"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="email">Email</label>
                <input cFormControl
                       id="email"
                       placeholder="ejemplo@gamail.com"
                       [(ngModel)]="docenteModelo.correo_electronico"
                       name="email"
                       type="email"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="departamento">Departamento</label>
                <input cFormControl
                       id="departamento"
                       placeholder=" Sistemas informaticos"
                       [(ngModel)]="docenteModelo.departamento"
                       name="departamento"
                       type="text"
                />
              </div>
              <button (click)="guardarDocente()" cButton class="me-1" color="primary" type="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12">
      <table cTable>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">CI</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Email</th>
          <th scope="col">Departamento</th>
        </tr>
        </thead>
        <tbody>
          @for (d of listaDocentes; track d; ){
            <tr>
              <th scope="row">1</th>
              <td>{{d.id}}</td>
              <td>{{d.nombres}}</td>
              <td>{{d.apellidos}}</td>
              <td>{{d.correo_electronico}}</td>
              <td>{{d.departamento}}</td>
              <td>
                <button (click)="verDocente(d)" cButton color="warning" variant="outline">Editar</button>
                <button (click)="eliminarDocente(d)" cButton color="danger" variant="outline">Eliminar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </c-col>
    </c-row>
  -->
