<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>MATRICULA</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
                <div class="mb-3">
                    <label cLabel for="ci">Estudiante</label>
                    <select [(ngModel)]="matriculaModelo.estudiante" aria-label="Seleccione estudiante" cSelect name="estudiante">
                      <option>Seleccione estudiante</option>
                      <option value="66594911ebaa09465eadbadf">Kevin</option>
                      <option value="665ca7298bd67a6f750dd84f">Albert</option>
                      <option value="665cb0df54d8cb5a9340c808">Maya</option>
                    </select>
                  </div>
              <div class="mb-3">
                <label cLabel for="nombres">Materia</label>
                <select [(ngModel)]="matriculaModelo.materia" aria-label="Seleccione materia" cSelect name="materia">
                  <option>Seleccione materia</option>
                  <option value="665cb24d54d8cb5a9340c839">Programacion 1</option>
                </select>
              </div>
              <div class="mb-3">
                <label cLabel for="apellidos">Docente</label>
                <select [(ngModel)]="matriculaModelo.docente" aria-label="Seleccione docente" cSelect name="docente" >
                  <option>Seleccione docente</option>
                  <option value="664ff0e448904b691aa54344">Ana</option>
                </select>
              </div>
              <div class="mb-3">
                <label cLabel for="fecha_matricula">Fecha</label>
                <input cFormControl
                       id="fecha_matricula"
                       placeholder="2024-05-21"
                       [(ngModel)]="matriculaModelo.fecha_matricula"
                       name = "fecha"
                       type="date"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Periodo">Periodo</label>
                <input cFormControl
                       id="Periodo"
                       placeholder="Anual"
                       [(ngModel)]="matriculaModelo.periodo"
                       name = "Periodo"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="numero_semestre">Semestre</label>
                <input cFormControl
                       id="numero_semestre"
                       placeholder="0"
                       [(ngModel)]="matriculaModelo.numero_semestre"
                       name = "Semestre"
                       type="number"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="anio_estudio">Año de estudio</label>
                <input cFormControl
                       id="anio_estudio"
                       placeholder="1"
                       [(ngModel)]="matriculaModelo.anio_estudio"
                       name = "Año_de_estudio"
                       type="number"
                />
              </div>
              <button (click)="guardarMatricula()" cButton class="me-1" color="primary" type="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card>
      </c-col>
      <c-col xs="12">
        <table cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Materia</th>
            <th scope="col">Docente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Periodo</th>
            <th scope="col">Semestre</th>
            <th scope="col">Año de estudio</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
            @for (m of listaMatriculas; track m; ){
              <tr>
                <th scope="row">1</th>
                <td>{{m.estudiante}}</td>
                <td>{{m.materia}}</td>
                <td>{{m.docente}}</td>
                <td>{{m.fecha_matricula}}</td>
                <td>{{m.periodo}}</td>
                <td>{{m.numero_semestre}}</td>
                <td>{{m.anio_estudio}}</td>
                <td>
                  <button (click)="verMatricula(m)" cButton color="warning" variant="outline">Editar</button>
                  <button (click)="eliminarMatricula(m)" cButton color="danger" variant="outline">Eliminar</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </c-col>
      </c-row>
