<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Form Control</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
                <div class="mb-3">
                    <label cLabel for="ci">CI</label>
                    <input cFormControl
                           id="ci"
                           placeholder="8756672"
                           type="number"
                    />
                  </div>
              <div class="mb-3">
                <label cLabel for="nombres">Nombres</label>
                <input cFormControl
                       id="nombres"
                       placeholder="Kevin"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="apellidos">Apellidos</label>
                <input cFormControl
                       id="apellidos"
                       placeholder="Camacho Rodriguez"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="email">Email</label>
                <input cFormControl
                       id="email"
                       placeholder="ejemplo@gamail.com"
                       type="email"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="departamento">Departamento</label>
                <input cFormControl
                       id="departamento"
                       placeholder=" Sistemas informaticos"
                       type="text"
                />
              </div>
            </form>
        </c-card-body>
      </c-card>